# Cloudflare authentication settings
CF_EMAIL = superman@example.com
CF_API_KEY = add_api_key_here

# Add whichever domains you've already setup in Cloudflare that you want
# pointed to your public IP address, you can also add wildcard domains
DOMAINS = thor.example.com,*.thor.example.com
ZONE = example.com
